.container{
    background-color: #001715;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.leftContainer{
    display: flex;
    align-items: center;
    margin-left: 6%;
}
.name{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 29px;
    font-family: roboto,arial; 
}
.dollar{
    height: 38px;
}
.sectionContainer{
    margin-right: 11%;
    display: flex;
    gap: 30px;
}
.section{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 19px;
    font-family: roboto,arial;
}