.container{
    background-color: #001715;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position:fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    
}
.leftContainer{
    display: flex;
    align-items: center;
    margin-left: 6%;
}
.name{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 29px;
    font-family: roboto,arial; 
}
.dollar{
    height: 38px;
}
.sectionContainer{
    margin-right: 11%;
    display: flex;
    gap: 30px;
}
.section{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 19px;
    font-family: roboto,arial;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 300ms ease;
}
.active {
  border-bottom-color: white;
}



@media (max-width: 1024px) and (min-width: 769px) {
    .name{
        font-size: 22px;
    } 
    .dollar{
        height: 21px;
    }
    .sectionContainer{
        margin-right: 11%;
        gap: 15px;
    }
    .section{
        font-size: 18px;
    } 
}


@media (max-width: 768px) {
   .name{
        font-size: 16px;
    } 
    .dollar{
        height: 20px;
    }
    .sectionContainer{
        margin-right: 11%;
        gap: 15px;
    }
    .section{
        font-size: 15px;
    } 
}



@media (max-width: 480px){
   .name{
        font-size: 15px;
    } 
    .dollar{
        height: 17px;
    }
    .sectionContainer{
        margin-right: 11%;
        gap: 14px;
    }
    .section{
        font-size: 12px;
    }
}
