.container{
    background-color: rgb(182, 160, 117);
    min-height: 100vh;
}
.homeContainer{
    display: grid;
    grid-template-columns:  1fr 1fr; 
}
.leftSection{
    display: flex;
    padding-top: 100px;
    justify-content: center;

}
.rightSection{
    padding-top: 120px;
}
.rightSection h1{
    font-size: 55px;
}
.intro{
    padding-top: 10px;
    padding-right: 140px;
    font-size: 18px;
}
.profileImg{
    border-radius: 50%;
    height: 210px;
}
.icons{
    height: 80px;
}
.iconContainer{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}